.overlay {
display: none;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.6); /* Ubah transparansi untuk latar belakang */
z-index: 9999;
}

.overlay-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 30px;
border-radius: 10px;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Tambahkan efek bayangan */
width: 300px; /* Lebar overlay */
}

.overlay-content h2 {
font-size: 24px;
font-weight: 500;
margin-bottom: 20px;
}

.overlay-content form {
margin-top: 20px;
}

.overlay-content .form-group {
margin-bottom: 20px;
}

.overlay-content label {
display: block;
font-weight: 500;
}

.overlay-content input[type="text"],
.overlay-content input[type="password"] {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.overlay-content input[type="submit"] {
background-color: #1977cc;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.overlay-content input[type="submit"]:hover {
background-color: #155b9e;
}

.close-btn {
position: absolute;
top: 10px;
right: 10px;
font-size: 24px;
color: #555;
cursor: pointer;
}

#myInput {
padding: 20px;
margin-top: -6px;
border: 0;
border-radius: 0;
background: #f1f1f1;
}

